body{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "helvetica Nueue", "Helvetica", "Arial", sans-serif;
}
.container{
    display: flex;
    height: 100vh;
    gap: 10rem;
    padding: 5rem 15rem;
}
.left-container{
    width: 50%;
}
.facebooklogo{
    height: 106px;
    margin: -28px;
    padding: 112px 0 16px;
}
.text{
    font-family: SFproDisplay-Regular, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin: 0;
}
.right-container{
    width: 50%;
}
.form-container{
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1), 0 8px 16px rgba(0, 0, 0.1);
    box-sizing: border-box;
    margin: 40px 0 0;
    width: 396px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}
.input-field{
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-sizing: border-box;
    color: #1d2129;
    font-size: 17px;
    font-weight: 400;
    padding: 14px 16px;
    line-height: 20px;
    outline: none;
    width: 100%;
}
.login-button{
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
    color: bisque;
    transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
    font-weight: ;
}
